*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    min-height: 100vh;
}

.card{
    width: 550px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card h1{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 50px 10px 10px 50px;
    font-size: 35px;
    padding: 10px 20px;
    
}

.card .paragraph{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-left: 50px;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right:100px
}

.heading span{
    color: hsl(277, 64%, 61%);
}


.statistics{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}
.card .stats{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-right: 55px;
    margin-top: 62px;
}

.card .stats span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}

.card-image{
    background-color: hsl(277, 64%, 61%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.image{
    width: 550px;
    height: 450px;
    display:flex;
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.8; 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

















